// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    // font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--bg);
}
:root{
    --accent: #FD013C;
    --text: #3E4253;
    --bg: #f6f7fb;
    --text-secondary: #808192;
}
.page-split{
        min-height: calc(100vh - 14px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .left{
            padding: 0 2rem;
        }
}

@media screen and (max-width: 840px){
    .page-split {
        min-height: unset;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1rem;
        .left{
            padding: 0rem 1rem 0 1rem;
        }
        .right{
            padding: 0 1rem 1rem 1rem!important;
        }
        .main-panel{
            h1{
                font-size: 3rem;
            }
            a.cv{
                padding: 0.75rem 0.5rem;
            }
            div.links{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .footer{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}